.card {
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  height: 300px;
}

.card:hover {
  padding-right: 25px;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
}
.card > .img-container > img {
  height: 90%;
  display: block;
  overflow: hidden;
}
