.hero {
  height: 400px;
  background-size: fill;
  background-position: center;
  background-image: url('../../images/heyArnold.jpg');
  position: relative;
  box-shadow: 0 0 15px 0 black;
}

.hero::after {
  content: '';
  display: block;
  opacity: 0.4;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1,
.hero h2 {
  font-size: 50px;
  padding-top: 200px;
  margin-top: 10px;
  color: #fff;
}

.hero h4 {
  color: #fff;
}
